<div
  class="modal modal-lg fade"
  id="shipping-info"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body">
        <h1 class="modal-title " id="exampleModalLabel">Shipping Info</h1>
        <p>
          Cosmetics advertising should showcase the USP of your beauty products and should follow the latest skincare
          marketing trends. The best cosmetic product commercials should be fun, informative- and product-focused.
          Cosmetic advertising strategies help increase brand awareness, ensuring consumers know about the skincare
          brand and its offerings. Moreover, effective skincare marketing tactics highlight cosmetic products’ unique
        </p>
        <p>
          In a world where beauty standards evolve at the speed of a trending hashtag, one thing remains constant: the
          power of beauty content marketing. The ever-evolving makeup and skincare industry thrives not just on products
          that enhance appearances but also on stories that captivate emotions. Hence, having knowledge of the finest
          beauty content marketing tips
        </p>

        <p>
          So when do you contact Redbubble? The calculator above lets you know the best time to message us. When that
          day rolls around. Even if your order hasn’t arrived by the listed date, it’s probably still on its way (and
          worth the wait). How much is shipping? Once you’ve clicked through to Secure Checkout, you can enter your
          delivery address and choose a shipping method. Shipping costs are then calculated and tacked on to your
          subtotal at the bottom of the page.
        </p>
      </div>
    </div>
  </div>
</div>
