<div class="product-sticky sticky-position row gy-4">
  {% for image in product.images %}
    <div class="col-12" data-value="{{ image.alt }}">
      <img src="{{ image.src | image_url }}" alt="Product Image" class="img-fluid">
    </div>
  {% endfor %}
</div>
