<div class="custom-container">
  <div id="comparePageContent">
    <p id="emptyCompareMessage">
      <div class="empty-content">
        <img
          src="https://cdn.shopify.com/s/files/1/0714/3728/7637/files/compare.gif?v=1735635566"
          class="empty-img"
        >
        <h3>No Products Yet.</h3>
        <a href="/collections/all" class="btn btn_solid d-block">Add Product</a>
      </div>
    </p>
    <!-- Comparison cards will be dynamically inserted here -->
  </div>
</div>

{% schema %}
{
  "name": "Compare",
  "settings": [],
   "presets": [
  {
    "name": "Compare"
  }
]
}
{% endschema %}
