{{ 'customer.css' | asset_url | stylesheet_tag }}
<section class=" {% if settings.breadcrumb %}pt-0{% endif %} regi login-bg-img customer login">
  <div class="custom-container container login-page {% if section.settings.section_padding == 'top' %}section-t-space{% elsif section.settings.section_padding == 'bottom' %}section-b-space{% elsif section.settings.section_padding == 'both' %}section-space{% endif %}">
    <div class="row ">
      <div class="col-12 mx-auto">
        <div class="log-in-box" id="login-form">
          <!-- Login Form -->
          <div class="log-in-title">
            <h4>Login</h4>
          </div>

          <!-- Toggleable Forms -->
          <div class="login-box">
            {%- form 'customer_login', novalidate: 'novalidate' -%}
              <div class="row g-3">
                <!-- Email Field -->
                <div class="col-12">
                  <div class="form-floating">
                    <input
                      class="form-control"
                      type="email"
                      name="customer[email]"
                      id="CustomerEmail"
                      placeholder="Email"
                    >
                    <label for="CustomerEmail">{{ 'customer.login_page.email' | t }}</label>
                  </div>
                </div>

                <!-- Password Field -->
                <div class="col-12">
                  <div class="form-floating">
                    <input
                      class="form-control"
                      type="password"
                      name="customer[password]"
                      id="CustomerPassword"
                      placeholder="Password"
                    >
                    <label for="CustomerPassword">{{ 'customer.login_page.password' | t }}</label>
                  </div>
                </div>

                <!-- Forgot Password Link -->
                <div class="col-12">
                  <div class="forgot-box">
                    <a href="#recover" id="recover-password-link">Forgot your password?</a>
                  </div>
                </div>

                <!-- Submit Button -->
                <div class="col-12">
                  <button class="btn login btn_black sm mt-3" type="submit">Log In</button>
                </div>
              </div>
            {%- endform -%}
          </div>

          <div class="sign-up-box">
            <p class="m-0">Don't have an account?</p>
            <a href="{{ routes.account_register_url }}">Create an Account</a>
          </div>
        </div>
        <!-- Recover Password Form -->
        <div class="log-in-box recover-box" id="recover-form" style="display: none;">
          <div class="log-in-title">
            <h4>Recover Your Password</h4>
            <p>We'll send you an email to reset your password.</p>
          </div>
          {%- form 'recover_customer_password' -%}
            <div class="row g-3">
              <!-- Email Field -->
              <div class="col-12">
                <div class="form-floating">
                  <input class="form-control" type="email" name="email" id="RecoverEmail" placeholder="Email">
                  <label for="RecoverEmail">Email</label>
                </div>
              </div>

              <!-- Submit Button -->
              <div class="col-12">
                <button class="btn login recover btn_black sm" type="submit">Reset Password</button>
              </div>
            </div>
          {%- endform -%}

          <div class="other-log-in">
            <h6>OR</h6>
          </div>

          <div class="col-12 sign-up-box">
            <a href="#login" id="back-to-login">Back to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // document.getElementById('recover-password-link').addEventListener('click', function() {
  //   document.getElementById('login-form').style.display = 'none';
  //   document.getElementById('recover-form').style.display = 'block';
  // });

  // document.getElementById('back-to-login').addEventListener('click', function() {
  //   document.getElementById('recover-form').style.display = 'none';
  //   document.getElementById('login-form').style.display = 'block';
  // });
</script>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section padding",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Top & Bottom"
        }
      ],
      "default": "top"
    },
  ]
}
{% endschema %}
