<section class="section-b-space {% if settings.breadcrumb %}pt-0{% endif %}">
  <div class="custom-container container error-page">
    <div class="row g-4">
      <div class="col-12">
        <a href="#">
          <h2 class="error-text">404</h2>
          <!--
            <img
              class="img-fluid"
              src="{{ '404-error.png' | asset_url }}"
              alt=""
            >
          -->
        </a>
        <h2>Oops! That Page Not Found</h2>
        <p>We're really sorry but we can't seem to find the page you were looking for.</p>
        <a class="btn btn_black " href="{{ shop.url }}">Back Home Page </a>
      </div>
    </div>
  </div>
</section>
